.modalBackground {
  z-index: 10;
  position: fixed;
  width: min(100%, 400px);
  height: 6000px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.modalBackground::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(176, 176, 176, 0.3);
  animation: modal-bg-show 0.4s;
}

.modalContainer {
  width: 70%;
  border-radius: 15px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  flex-direction: column;
  padding: 25px;
  margin: auto;
  margin-top: 20px;
  animation: modal-show 0.4s;
  position: relative;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  align-items: center;
  color: black;
  font-size: 10px;
  width: 100%;
  height: 85%;
  margin-bottom: 10px;
}

.titleCloseBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
}

.modalContainer .body {
  flex: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .bottom {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.shareBtn {
  border: none;
  background: none;
}

.feedback {
  display: grid;
  margin-top: 8%;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  align-items: center;
  font-weight: 900;
  font-size: 1em;
  color: white;
}

.thumbtns button:last-child {
  margin-left: 7px;
}

.cardImg {
  margin-top: -10px;
}

.downloadBnt:hover {
  color: #f44404;
  background-color: black;
}

.cardHeader {
  color: white;
  font-weight: 900;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.shareTitle {
  color: white;
  font-weight: 900;
  font-size: 1.2em;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -30px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
